$color-white: #ffffff;
.App {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.coti_1 {
  width: 100%;
  height: 855px;
  background: $color-white;
  mix-blend-mode: normal;
  // background-color: aqua;
}
.Header {
  width: 100%;
  height: 55px;
  font-family: "Roboto", sans-serif;
  left: 0px;
  top: 0px;
  // background-color: rgb(65, 73, 73);
}
.Container {
  padding-top: 15px;
  height: 850px;
}
.Body {
  width: 100%;
  height: 850px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: "normal";
}

.Formulario {
  padding-top: 200px;
  width: 350px;
}
.InicioDatos {
  float: left;
  color: #494f66;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: -0.2px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
}
.Politica {
  font-family: "Roboto", sans-serif;
  font-style: "normal";
  color: #494f66;
  text-decoration: underline;
}
.InicioNuevo {
  color: #494f66;
  float: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.InicioIzq {
  width: 350px;
  padding-top: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.InicioSeguro {
  float: left;
  color: red;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  height: 100px;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.8px;
}
.Seguro {
  color: #494f66;
}
.InicioCuentanos {
  color: #494f66;
  float: left;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.Footer {
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: "normal";
  color: #a3abcc;
  letter-spacing: 0.2px;
  position: fixed;
  left: 0;
  bottom: 0;
  // background-color: rgb(18, 92, 92);
}
